@model PowerLog.Models.ExerciseLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ExerciseLog</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Exercise.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Exercise.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reps)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reps)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
