@model IEnumerable<PowerLog.Models.ExerciseLog>
@{
    ViewBag.Title = "Index";
}
<h2>
    Create</h2>
@using (Html.BeginForm("Create", "ExerciseLog", FormMethod.Post))
{
    @Html.TextBox("Date", null, new { type = "date" })
    @Html.ValidationMessage("Date")
    @Html.TextBox("Expression");
    <input type="submit" value="save" />

}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reps)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reps)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
